@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #0f3460;
    font-family: "Montserrat", sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.heading {
    color: #fff;
    font-size: 2rem;
    margin: 50px 0 30px 0;
    font-size: 3rem;
}

.content {
    background: #e94560;
    padding: 50px 50px 10px 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.digits-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.digits {
    background: #fff;
    padding: 30px;
    margin: 15px;
    font-size: 2rem;
    border-radius: 10px;
    width: 100px;
    text-align: center;
}

.btn-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.btn-double {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.btn {
    transition: ease-out 0.1s;
    background: rgb(15, 7, 89);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 1.4rem;
    margin: 20px 10px;
    cursor: pointer;
}

.btn:hover {
    transition: ease-in 0.1s;
    transform: scale(1.05);
}

@media (max-width: 700px) {
    .content {
        width: 360px;
    }

    .digits-container {
        width: 350px;
    }

    .digits {
        padding: 10px;
        margin: 5px;
    }

    .btn {
        margin-top: 10px;
    }
}
